*{
    margin: 0;
    padding: 0;
    font-family: 'Pathway Gothic One';
}

/* GENERAL */
ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}
body{
    background-color: black;
}

/* HEADER */
header{
    background-color: black;
    width: 100%;
    z-index: 1;
}
.navbar-brand{
    color: #87f867;
    margin-left: 30px;
}
.navbar-brand:hover{
    color: #87f867;
}
.navbar-toggler{
    color: #87f867;
    border-color: #87f867;
    background-color: #87f867;
}
.collapsed{
    background-color: #87f867;
}
.nav-item{
    margin-right: 30px;
}
.nav-link{
    color: white;
    font-size: 23px;
    margin-right: 10px;
}
.nav-link:hover, .nav-link:focus{
    color: #87f867;
}
.navbar-collapse li i{
    color: white;
    margin: 0;
    padding: 0;
    font-size: 20px;
}
.navbar-collapse li i:hover{
    color: #87f867;
}
.dropdown-item:hover{
    background-color: #87f867;
}

.search-container{
    display: flex;
    align-items: center;
}
#searchInput{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

#searchButton{
    color: #87f867;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: transparent;
}


/* MAIN */
main{
    background-color: black;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
.wrapper{
    flex: 1;
}

/* FOOTER */
footer{
    background-color: black;
    flex-shrink: 0;
}
.icon-container{
    display: flex;
    justify-content: center;
}
.icon-circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #87f867;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.icon-circle:hover{
    background-color: white;
}
.icon-circle i{
    font-size: 30px;
    color: black;
    justify-content: center;
    align-items: center;    
}
.aby h5{
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'Raleway';
    font-size: 17px;
    margin-bottom: 5px;
}
.aby h5 a{
    color: #87f867;
}

/* INDEX */
#hero{
    background-color: black;
    background-repeat: repeat-x;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#hero h2{
    color: #87f867;
    font-size: 90px;
    text-align: center;  
}
#bannerTypography{
    animation: changeTypography 2s infinite;
}
#favorites{
    padding-bottom: 60px;
}
#favorites h2{
    color: #87f867;
    font-size: 40px;
    text-align: center;
    margin: 40px;
}
#favorites .row{
    margin: 0px;
}
#favorites img{
    width: 300px;
    height: 400px;
    object-fit: cover;
}
#favorites h3{
    color: #87f867;
    font-size: 25px;
    text-align: center;
    padding-top: 15px;
}
#favorites h4{
    color: #87f867;
    font-size: 18px;
    text-align: center;
}
#favorites button{
    background-color: #87f867;
    border-radius: 5px;
    border-color: #87f867;
    color: black;
    padding: 5px 2px 5px 2px;
    margin-top: 15px;
}

/* HOW TO BUY */
#howToBuy{
    height: 80vh;
    background-color: #87f867;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#howToBuy h3{
    font-size: 40px;
    margin: 20px; 
}
#howToBuy p{
    color: black;
    font-size: 20px;
    text-align: justify;
    max-width: 700px;
    font-family: 'Raleway';
    font-weight: bold; 
}
#howToBuy p h2{
    font-family: 'Pathway Gothic One';
    text-align: start;
}

/* CONTACT */
.banner-contact{
    background-color: #87f867;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-contact button{
    background-color: black;
    border: 0;
    padding: 20px;    
}
.banner-contact h2{
    color: #87f867;
    font-size: 60px;
}
#contactInfo{
    margin-top: 30px;
}
#contactInfo .col{
    border-right: 1px solid #87f867;   
}
#contactInfo i{
    color: #87f867;
    font-size: 20px;
    padding-bottom: 20px;
    font-size: 30px;    
}
#contactInfo h4{
    color: #87f867;
    font-size: 20px;
    padding-bottom: 20px;    
}
#contactInfo h5{
    color: white;
    font-size: 18px;
}
.last{
    border-right: 0;   
}
#map iframe{
    margin-top: 50px;
    width: 100%;
}

/* ABOUT US */
#aboutUs{
    height: 80vh;
    background-color: #87f867;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#aboutUs h3{
    font-size: 40px;
}
#aboutUs p{
    color: black;
    font-size: 20px;
    text-align: justify;
    max-width: 700px;
    font-family: 'Raleway';
    font-weight: bold;
}
#aboutUs h2{
    font-family: 'Pathway Gothic One';
    text-align: start;  
}

/* CATALOGUE*/
#catalogue h2{
    color: #87f867;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    margin: 40px;
}
.categories-container{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    margin: 30px;
} 
.items-categorie{
    margin: 0 20px;
    padding: 20px;
    cursor: pointer;
    display: inline-block;
    border: 1px solid transparent;
    transition: border-color 0.3s;
}
.items-categorie:hover{
    color: #87f867;
    border-color: #87f867;
}
.categories{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    
}
.categories .card-product{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.categories .card-product img{
    width: 300px;
    height: 400px;
    object-fit: cover;
}
.categories .card-product h3{
    color: #87f867;
    text-align: center;
    margin-top: 5px;
}
.categories .card-product h4{
    color: #87f867;
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px; 
}
.buy-btn{
    background-color: #87f867;
    border-radius: 5px;
    border-color: #87f867;
    padding: 5px;
}

/* FILTERS */
#filters{
    display: flex;
    justify-content: end;
    padding-right: 80px;
    margin-bottom: 30px;
}
#filters span{
    color: #87f867;
    font-size: 18px;
    padding-right: 20px;
}



/* CART */
#cart{
    height: 100%;
}
.subtitle{
    color: #87f867;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
#cartItems{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px;
}
.yourCartEmpty p, .yourCartEmpty i{
    color: #87f867;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

/* CART JS */
.cart-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: rgba(128, 128, 128, 0.2);
    padding: 5px;
    border-radius: 10px;
}
.cart-product-img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}
.cart-name h3{
    font-size: 20px;
    color: #87f867;
}
.cart-product-delete{
    border: 0;
    background-color: transparent;
    color: #87f867;
    padding-right: 40px;
    font-size: 20px;
}

/* CART ACTIONS */
.cart-actions{
    display: flex;
    justify-content: space-between;

}

.clear-cart{
    border: 0;
    background-color: rgba(128, 128, 128, 0.3);
    padding: 10px;
    border-radius: 15px;
    color: #87f867;
    text-transform: uppercase;
    margin-left: 40px;
    font-size: 15px;
}

.cart-actions-right{
    display: flex;
}
.cart-actions-total{
    display: flex;
    background-color: rgba(128, 128, 128, 0.3);
    padding: 10px;
    color: #87f867;
    text-transform: uppercase;
    margin-left: 40px;
    font-size: 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.cart-actions-total p{
    margin-bottom: 0;
}
.cart-actions-buy{
    border: 0;
    background-color: #87f867;
    padding: 10px;
    color: black;
    text-transform: uppercase;
    margin-right: 40px;
    font-size: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    align-items: center;
    display: flex;
}

.cart-bought{
    color: #87f867;
    padding-left: 40px;
    font-size: 18px;
}
.disabled{
    display: none;
}

/* SWEETALERT */
.sweetalert-popup{
    background-color: white;
}
.sweetalert-title{
    font-size: 20px;
    font-family: 'Raleway';
    color: black;
}
.sweetalert-confirmBtn{
    color: black;
}
.ok-btn{
    background-color: #87f867;
    color: black;
}

@keyframes changeTypography {
    0% {
      font-family: 'Pathway Gothic One', sans-serif;
    }
    100% {
      font-family: 'Raleway', sans-serif;
    }
}